{% extends 'afro/index.html' %}
{% load static %}
<!-- CSS Custom File -->
<link href="{% static 'afro/css/main.css' %}" rel="stylesheet">

<title>{% block title%}Home{%endblock%}</title>

<main>
    {%block header%}
    <div class="container-header">
        <div class="row">
            <div class="col-2"></div>
            <h2>AfroNomad</h2>
        </div>
    </div>
    {%endblock%}
    {%block content%}
    <div class="container mt-4">
        <div class="body text-justify">
            <div class="first row text-info">
                <p>My name is Afro and I am an entry-level software developer. I have a passion for creating innovative, 
                    user-friendly applications that solve real-world problems. This website was purposedly built to track my current 
                    progress and understanding of software development. On this website, you will find a portfolio of my recent projects, 
                    as well as information on how to contact me.
                </p>
            </div>
            <div class="row"></div>
            <div class="row">

                <p>Software Development Asides, I have an indepth understanding of cloud computing and a wealth of hands-on
                    experience with of the <strong>Google Cloud Platform</strong>
                    Using the qwicklabs interface,I have worked on projects to design, deploy, configure and troubleshoot cloud solutions. 
                    This has enabled me to acquire an excellent working knowledge of virtualization technologies, scripting language, 
                    serverless computing and DevOps best practices. Most recently, I implemented a monitoring system for an online business using <strong>GCP</strong> 
                </p>

                <P>My previous roles a Energy Operations Officer has provided me with strong problem-solving skills which ensure that 
                    solutions are found quickly and efficiently. In addition to my technical abilities, I am a great communicator with 
                    the ability to effectively collaborate with colleagues of all levels. Equally important, I am organized and highly 
                    motivated; qualities which have enabled me to consistently deliver positive results on projects. I am now looking for an
                    opportunity in which I can further expand upon these skills and put my knowledge into practice within a dynamic
                    environment. Please find enclosed my resume for additional details on my professional experience.
                </P>
                <p> I also moonlight as a writer on medium, where I talk on topics such as - </p>
                <br>
                <p>
                    <ul>
                        <li>
                            <p>Product Management</p>
                        </li>
                        <li>
                            <p>Python Programming</p>
                        </li>
                        <li>
                            <p>Cloud Computing</p>
                        </li>
                        <li>
                            <p>Lifestyle</p>
                        </li>
                    </ul>

                </p>
                <p>In my free time, I enjoy staying up-to-date with the latest technology trends and learning new use cases for <strong><small>Python</small></strong> and
                it's frameworks. I am always looking for new opportunities to grow and develop as a developer and a product manager.</p>
            </div>
        </div>
    </div>

    {% endblock content%}

    


</main>









                