{% extends 'afro/index.html' %}
{% load static %}

<form method="post" action="{% url 'newsletter' %}" class="newsletter-form">
    {% csrf_token %}
    <div class="form-group-floating mb-3 mt-3">
        {{ form.name.label_tag }}
        {{ form.name}}
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <input type="submit" value="Subscribe" class="btn btn-outline-success">
</form>
