{% extends 'afro/index.html' %}
{% load static %}
<!-- CSS Custom File -->
<link href="{% static 'afro/css/main.css' %}" rel="stylesheet">

<title>{% block title %}Afro|Projects{% endblock %}</title>
<main>
    {% block content%}
    <div class="body">
        <div class="first row bg-dark text-info">
            <div class="bodY-header">
                <h1 class="text" style="padding: 10px;">Projects</h1>
            </div>
            <hr>
            
        </div>
        <br>
        <div class="body_main">
            <div class="row">
                <div class="container-fluid">
                    {% for project in projects %}
                    <br>
                    <h3><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></h3>
                    <p>{{ project.description }}</p>
                    <img src="{{ project.image.url }}" alt="{{ project.name }}" style='width: 500px; height: 250px;border: 1px' class="mx-auto">
                
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="pagination">
            {% if projects.has_previous %}
            <a href="?page={{ projects.previous_page_number }}">&laquo;</a>
            {% else %}
            <span>&laquo;</span>
            {% endif %}
            {% for page in projects.paginator.page_range %}
            {% if page == projects.number %}
            <span class="current">{{ page }}</span>
            {% else %}
            <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
            {% endfor %}
            {% if projects.has_next %}
            <a href="?page={{ projects.next_page_number }}">&raquo;</a>
            {% else %}
            <span>&raquo;</span>
            {% endif %}
        </div>

    </div>
    {% endblock %}
</main>


