{% block sidebar %}
<!-- Sidebar Widgets Column -->
    
<div class="col-md-4 float-right ">

    <div class="card my-4 text-justify">
        <h5 class="card-header">Hey everyone!</h5>
        <div class="card-body">
            <p class="card-text ">
            
                I'm an entry-level developer and I recently started a personal blog to share my journey and experiences in the tech
                industry. My blog covers a wide range of topics, from programming languages and frameworks to best practices and career
                advice.
                
                I believe that sharing knowledge and experiences is crucial for personal and professional growth, and I'm excited to be
                able to contribute to the tech community through my blog.
                
                If you're an aspiring developer or just interested in staying up-to-date with the latest trends in the tech world, I
                invite you to check out my blog and join me on this journey. 
                Thanks for reading, and I hope you enjoy my blog!
            </p>
            <a href="{% url 'blog' %}" class="btn btn-danger">Know
                more!</a>
        </div>
    </div>
</div>



{% endblock sidebar %}