{% extends 'afro/index.html' %}
{% load static %}
<title>{% block title%}Testimonials{%endblock%}</title>

<main>
    {% block content%}
    
    <div class="body">
        <div class="first row text-info">
            <div class="bodY-header">
                <h1 class="text-danger" style="padding: 10px;">Testimonials</h1>
            </div>
            <br>
            <br>
        </div>
        <div class="container mt-4">
            <div class="body text-justify">
                <div class="first row text-info">
                    <!-- Testimonial Entries-->
                    <div class="col">
                        <p class="first">
                            "I had the pleasure of working with Emmanuel Ugbaje on a several project at Taskira Heritage Media. Emmanuel Ugbaje was
                            an exceptional leader, consistently demonstrating strong communication skills, attention to detail, and a proactive approach to
                            problem-solving. Emmanuel Ugbaje was able to effectively manage a diverse team of stakeholders and ensure that the project was
                            completed on time and within budget. Emmanuel was also able to effectively manage risks and mitigate any potential issues
                            that arose. I highly recommend Emmanuel, as he consistently delivers high-quality work." - Amina Abubakar, Community Director
                            Taskira Heritage Media
                        </p>
                        <p class="second text-dark">
                            "I had the pleasure of working with Emmanuel as my executive assistant on political matters. Emmanuel consistently demonstrated
                            strong research, communication, and organizational skills, and was able to effectively manage complex tasks and
                            deadlines. Emmanuel's expertise in public policy was a valuable asset to our team, as he was able to provide informed 
                            recommendations on policy issues and support high-level decision-making. John was also a reliable and professional point of contact for
                            our stakeholders, always ensuring that meetings and events were well-coordinated. - Haj. Mama Ahmed, CSO SSG MINNA.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}
</main>

















